/* ------------------------------------------------------------ *\
	Copyright
\* ------------------------------------------------------------ */

.copyright {
	float: left; 

	/* Mobile */
	
	@include mobile {
		float: none; 
		width: 100%; 
		text-align: center; 
		white-space: normal;
	}
}
