/* ------------------------------------------------------------ *\
	Generic Wordpress
\* ------------------------------------------------------------ */

.error-message {
	padding: 50px 0;
	text-align: center;
}
.cat_list_archive{
	a{
		color: $blue;
		padding: 0 0.6rem;
	}
}