/* ------------------------------------------------------------ *\
	Icons
\* ------------------------------------------------------------ */

i[class^="ico-"] {
	display: inline-block;
	vertical-align: middle;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.ico-play {
	background: url(../images/temp/ico-play.png);
	width: 13px;
	height: 17px;
}

.ico-quotes {
	background: url(../images/temp/ico-quotes.png);
	width: 38px;
	height: 30px;
}

.ico-cubes {
	background: url(../images/temp/temp/ico-cubes.png);
	width: 48px;
	height: 48px;
}

.ico-family {
	background: url(../images/temp/temp/ico-family.png);
	width: 41px;
	height: 54px;
}

.ico-food {
	background: url(../images/temp/temp/ico-food.png);
	width: 51px;
	height: 50px;
}

.ico-coins {
	background: url(../images/temp/temp/ico-coins.png);
	width: 52px;
	height: 53px;
}

.ico-magnify {
	background: url(../images/temp/temp/ico-magnify.png);
	width: 47px;
	height: 47px;
}

.ico-calendar {
	background: url(../images/temp/temp/ico-calendar.png);
	width: 46px;
	height: 46px;
}

.ico-check {
	background: url(../images/temp/temp/ico-check.png);
	width: 74px;
	height: 80px;
}

.ico-parent {
	background: url(../images/temp/temp/ico-parent.png);
	width: 73px;
	height: 84px;
}

.ico-money {
	background: url(../images/temp/temp/ico-money.png);
	width: 86px;
	height: 75px;
}
