/* ------------------------------------------------------------ *\
	TablePress
\* ------------------------------------------------------------ */

.tablepress caption { display: none !important; }

.tablepress tfoot th,
.tablepress thead th { background: none; }

.tablepress thead th { border-bottom: 2px solid #cdcdcd; }

.tablepress tbody td,
.tablepress thead th { font-weight: 700; font-size: 14px; }

.tablepress tbody td:nth-child(odd),
.tablepress thead th:nth-child(odd) { background: #eee; }